<!-- Shop -->
<section id="shop">
    <div class="container mx-auto">
        <!-- Top Filter -->
        <div
            class="flex flex-col md:flex-row justify-between items-center py-4"
        >
            <div class="flex mt-5 md:mt-0 space-x-4">
                <div class="relative">
                    <select
                        class="block appearance-none w-full bg-white border hover:border-primary px-4 py-2 pr-8 rounded-full shadow leading-tight focus:outline-none focus:shadow-outline"
                    >
                        <option>Sort by Price</option>
                        <option>Sort by A-Z</option>
                    </select>
                    <div
                        class="pointer-events-none absolute inset-y-0 right-0 flex items-center justify-center px-2"
                    >
                        <img
                            id="arrow-down"
                            class="h-4 w-4"
                            src="/public/images/filter-down-arrow.svg"
                            alt="filter arrow"
                        />
                        <img
                            id="arrow-up"
                            class="h-4 w-4 hidden"
                            src="/public/images/filter-up-arrow.svg"
                            alt="filter arrow"
                        />
                    </div>
                </div>
            </div>
        </div>
        <!-- Filter Toggle Button for Mobile -->
        <div class="block md:hidden text-center mb-4">
            <button
                id="products-toggle-filters"
                class="bg-primary text-white py-2 px-4 rounded-full focus:outline-none"
            >
                Show Filters
            </button>
        </div>
        <div class="flex flex-col md:flex-row">
            <!-- Filters -->
            <div id="filters" class="w-full md:w-1/4 p-4 hidden md:block">
                <!-- Category Filter -->
                <div class="mb-6 pb-8 border-b border-gray-line">
                    <h3 class="text-lg font-semibold mb-6">Category</h3>
                    <div class="space-y-2">
                        <label class="flex items-center">
                            <input
                                type="checkbox"
                                class="form-checkbox custom-checkbox"
                            />
                            <span class="ml-2">T-Shirts</span>
                        </label>
                        <label class="flex items-center">
                            <input
                                type="checkbox"
                                class="form-checkbox custom-checkbox"
                            />
                            <span class="ml-2">Hoodies</span>
                        </label>
                        <label class="flex items-center">
                            <input
                                type="checkbox"
                                class="form-checkbox custom-checkbox"
                            />
                            <span class="ml-2">Accessories</span>
                        </label>
                    </div>
                </div>
                <!-- Size Filter -->
                <div class="mb-6 pb-8 border-b border-gray-line">
                    <h3 class="text-lg font-semibold mb-6">Size</h3>
                    <div class="space-y-2">
                        <label class="flex items-center">
                            <input
                                type="checkbox"
                                class="form-checkbox custom-checkbox"
                            />
                            <span class="ml-2">S (30)</span>
                        </label>
                        <label class="flex items-center">
                            <input
                                type="checkbox"
                                class="form-checkbox custom-checkbox"
                            />
                            <span class="ml-2">M (44)</span>
                        </label>
                        <label class="flex items-center">
                            <input
                                type="checkbox"
                                class="form-checkbox custom-checkbox"
                            />
                            <span class="ml-2">L (22)</span>
                        </label>
                    </div>
                </div>
                <!-- Color Filter -->
                <div class="mb-6 pb-8 border-b border-gray-line">
                    <h3 class="text-lg font-semibold mb-6">Color</h3>
                    <div class="space-y-2">
                        <label
                            class="flex items-center custom-color-checkbox"
                            data-color="#ff0000"
                        >
                            <input
                                type="checkbox"
                                class="form-checkbox custom-checkbox"
                            />
                            <span class="ml-2">Red</span>
                        </label>
                        <label
                            class="flex items-center custom-color-checkbox"
                            data-color="#0000ff"
                        >
                            <input
                                type="checkbox"
                                class="form-checkbox custom-checkbox"
                            />
                            <span class="ml-2">Blue</span>
                        </label>
                        <label
                            class="flex items-center custom-color-checkbox"
                            data-color="#00ff00"
                        >
                            <input
                                type="checkbox"
                                class="form-checkbox custom-checkbox"
                            />
                            <span class="ml-2">Green</span>
                        </label>
                    </div>
                </div>
                <!-- Brand Filter -->
                <div class="mb-6 pb-8 border-b border-gray-line">
                    <h3 class="text-lg font-semibold mb-6">Brand</h3>
                    <div class="space-y-2">
                        <label class="flex items-center">
                            <input
                                type="checkbox"
                                class="form-checkbox custom-checkbox"
                            />
                            <span class="ml-2">Nike</span>
                        </label>
                        <label class="flex items-center">
                            <input
                                type="checkbox"
                                class="form-checkbox custom-checkbox"
                            />
                            <span class="ml-2">Adidas</span>
                        </label>
                        <label class="flex items-center">
                            <input
                                type="checkbox"
                                class="form-checkbox custom-checkbox"
                            />
                            <span class="ml-2">Puma</span>
                        </label>
                    </div>
                </div>
                <!-- Rating Filter -->
                <div class="mb-6">
                    <h3 class="text-lg font-semibold mb-6">Rating</h3>
                    <div class="space-y-2">
                        <label class="flex items-center">
                            <input
                                type="checkbox"
                                class="form-checkbox custom-checkbox"
                            />
                            <span class="ml-2">★★★★★</span>
                        </label>
                        <label class="flex items-center">
                            <input
                                type="checkbox"
                                class="form-checkbox custom-checkbox"
                            />
                            <span class="ml-2">★★★★☆</span>
                        </label>
                        <label class="flex items-center">
                            <input
                                type="checkbox"
                                class="form-checkbox custom-checkbox"
                            />
                            <span class="ml-2">★★★☆☆</span>
                        </label>
                    </div>
                </div>
            </div>
            <!-- Products List -->
            <div class="w-full md:w-3/4 p-4">
                <!-- Products grid -->
                <div
                    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4"
                >
                    <!-- Product 1 -->
                    <div class="bg-white p-4 rounded-lg shadow">
                        <a href="/product">
                            <img
                                src="public/images/products/1.jpg"
                                alt="Product 1"
                                class="w-full object-cover mb-4 rounded-lg"
                            />
                        </a>
                        <a
                            href="/product"
                            class="text-lg font-semibold mb-2"
                        >Chúc Một Ngày Tốt Lành</a>
                        <p class="my-2">Nguyễn Nhật Ánh</p>
                        <div class="flex items-center mb-4">
                            <span
                                class="text-lg font-bold text-primary"
                            >$19.99</span>
                        </div>
                        <div class="flex gap-4">
                            <button
                                class="bg-primary border border-transparent hover:bg-transparent hover:border-primary text-white hover:text-primary font-semibold py-2 px-4 rounded-full w-full"
                            >
                                Add to Cart
                            </button>
                            <button
                                class="bg-primary border border-transparent hover:bg-transparent hover:border-primary text-white hover:text-primary font-semibold py-2 px-4 rounded-full w-full"
                            >
                                Exchange
                            </button>
                        </div>
                    </div>
                    <!-- Product 2 -->
                    <div class="bg-white p-4 rounded-lg shadow">
                        <a href="/product"><img
                                src="public/images/products/2.jpg"
                                alt="Product 2"
                                class="w-full object-cover mb-4 rounded-lg"
                            />
                        </a>
                        <a href="/product" class="text-lg font-semibold mb-2">Bố
                            Già</a>
                        <p class="my-2">Mario Puzo</p>
                        <div class="flex items-center mb-4">
                            <span
                                class="text-lg font-bold text-primary"
                            >$29.99</span>
                        </div>
                        <div class="flex gap-4">
                            <button
                                class="bg-primary border border-transparent hover:bg-transparent hover:border-primary text-white hover:text-primary font-semibold py-2 px-4 rounded-full w-full"
                            >
                                Add to Cart
                            </button>
                            <button
                                class="bg-primary border border-transparent hover:bg-transparent hover:border-primary text-white hover:text-primary font-semibold py-2 px-4 rounded-full w-full"
                            >
                                Exchange
                            </button>
                        </div>
                    </div>
                    <!-- Product 3 -->
                    <div class="bg-white p-4 rounded-lg shadow">
                        <a href="/product"><img
                                src="public/images/products/3.jpg"
                                alt="Product 3"
                                class="w-full object-cover mb-4 rounded-lg"
                            />
                        </a>
                        <a
                            href="/product"
                            class="text-lg font-semibold mb-2"
                        >Hai Số Phận</a>
                        <p class="my-2">Jeffrey Archer</p>
                        <div class="flex items-center mb-4">
                            <span
                                class="text-lg font-bold text-primary"
                            >$15.99</span>
                        </div>
                        <div class="flex gap-4">
                            <button
                                class="bg-primary border border-transparent hover:bg-transparent hover:border-primary text-white hover:text-primary font-semibold py-2 px-4 rounded-full w-full"
                            >
                                Add to Cart
                            </button>
                            <button
                                class="bg-primary border border-transparent hover:bg-transparent hover:border-primary text-white hover:text-primary font-semibold py-2 px-4 rounded-full w-full"
                            >
                                Exchange
                            </button>
                        </div>
                    </div>
                    <!-- Product 4 -->
                    <div class="bg-white p-4 rounded-lg shadow">
                        <img
                            src="public/images/products/4.jpg"
                            alt="Product 4"
                            class="w-full object-cover mb-4 rounded-lg"
                        />
                        <a href="#" class="text-lg font-semibold mb-2">Đắc Nhân
                            Tâm</a>
                        <p class="my-2">Dale Carnegie</p>
                        <div class="flex items-center mb-4">
                            <span
                                class="text-lg font-bold text-primary"
                            >$39.99</span>
                        </div>
                        <div class="flex gap-4">
                            <button
                                class="bg-primary border border-transparent hover:bg-transparent hover:border-primary text-white hover:text-primary font-semibold py-2 px-4 rounded-full w-full"
                            >
                                Add to Cart
                            </button>
                            <button
                                class="bg-primary border border-transparent hover:bg-transparent hover:border-primary text-white hover:text-primary font-semibold py-2 px-4 rounded-full w-full"
                            >
                                Exchange
                            </button>
                        </div>
                    </div>
                    <!-- Product 5 -->
                    <div class="bg-white p-4 rounded-lg shadow">
                        <img
                            src="public/images/products/5.jpg"
                            alt="Product 4"
                            class="w-full object-cover mb-4 rounded-lg"
                        />
                        <a href="#" class="text-lg font-semibold">Nghìn Lẻ Một
                            Đêm</a>
                        <p class="my-2">Antoine Galland</p>
                        <div class="flex items-center mb-4">
                            <span
                                class="text-lg font-bold text-primary"
                            >$39.99</span>
                        </div>
                        <div class="flex gap-4">
                            <button
                                class="bg-primary border border-transparent hover:bg-transparent hover:border-primary text-white hover:text-primary font-semibold py-2 px-4 rounded-full w-full"
                            >
                                Add to Cart
                            </button>
                            <button
                                class="bg-primary border border-transparent hover:bg-transparent hover:border-primary text-white hover:text-primary font-semibold py-2 px-4 rounded-full w-full"
                            >
                                Exchange
                            </button>
                        </div>
                    </div>
                    <!-- Product 6 -->
                    <div class="bg-white p-4 rounded-lg shadow">
                        <img
                            src="public/images/products/6.jpg"
                            alt="Product 3"
                            class="w-full object-cover mb-4 rounded-lg"
                        />
                        <a href="#" class="text-lg font-semibold mb-2">Dế Mèn
                            Phiêu Lưu Ký</a>
                        <p class="my-2">Tô Hoài</p>
                        <div class="flex items-center mb-4">
                            <span
                                class="text-lg font-bold text-primary"
                            >$15.99</span>
                        </div>
                        <div class="flex gap-4">
                            <button
                                class="bg-primary border border-transparent hover:bg-transparent hover:border-primary text-white hover:text-primary font-semibold py-2 px-4 rounded-full w-full"
                            >
                                Add to Cart
                            </button>
                            <button
                                class="bg-primary border border-transparent hover:bg-transparent hover:border-primary text-white hover:text-primary font-semibold py-2 px-4 rounded-full w-full"
                            >
                                Exchange
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Pagination -->
                <div class="flex justify-center mt-8">
                    <nav aria-label="Page navigation">
                        <ul class="inline-flex space-x-2">
                            <li>
                                <a
                                    href="#"
                                    class="bg-primary text-white w-10 h-10 flex items-center justify-center rounded-full"
                                >1</a>
                            </li>
                            <li>
                                <a
                                    href="#"
                                    class="w-10 h-10 flex items-center justify-center rounded-full hover:bg-primary hover:text-white"
                                >2</a>
                            </li>
                            <li>
                                <a
                                    href="#"
                                    class="w-10 h-10 flex items-center justify-center rounded-full hover:bg-primary hover:text-white"
                                >3</a>
                            </li>
                            <li>
                                <a
                                    href="#"
                                    class="w-10 h-10 flex items-center justify-center rounded-full"
                                >Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>